@import url("../zero-styles/zero_styles.css");
.header {
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 24px;
  font-family: "Montserrat-Regular", "serif";
}
a {
  color: black;
}
a:active {
  color: #03b2a5;
}
a:hover {
  color: #03b2a5;
}
.header__contaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #f6f6f6;
}
.header__logo {
  width: 48px;
  height: 34px;
  margin: 11px 0 16px;
}
.header__nav-display-large {
  display: none;
}
.header__hamburger-menu {
  width: 40px;
  height: 40px;
  margin: -8px;
  background-color: #fff;
  position: relative;
}
.header__hamburger-menu::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #03b2a5;
  border-radius: 1px;
  position: absolute;
  top: 13px;
  left: 11px;
  box-shadow: 0 6px 0 0 #03b2a5, 0 12px 0 0 #03b2a5;
}
.header__nav {
  position: absolute;
  right: 0;
  font-size: 14px;
  line-height: 20px;
  border: solid 1px #f6f6f6;
  background-color: rgb(245, 245, 245);
  display: none;
  height: 0;
  transition: all 0.5s;
  z-index: 2;
  opacity: 0;
}
.show {
  display: block;
  opacity: 1;
  transition: all 0.5s;
  height: 165px;
  min-width: 20vh;
  z-index: 8;
  top: 61px;
}
.header__nav-links {
  margin: 10px;
  width: 120px;
}
.header__nav-items {
  color: #333333;
}

.header__nav-items {
  width: 100px;
}
.header__nav-display-large {
  display: none;
  z-index: 1;
}
.header__find-doctor {
  display: none;
  z-index: 1;
}
